/*----------------------------------------- Начало Header -----------------------------------------*/
.header {
    height: 293px;
    width: 1100px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header_menu {
    margin: 132.5px 0 138px 50px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 21.7px;
    letter-spacing: 0%;
}

.header_links-list {
    display: flex;
    gap: 12px;
    justify-items: center;
    list-style-type: circle;
    white-space: nowrap;
    list-style-position: inside;
}

.header_links-list-item_no-bullit {
    list-style-type: none;
}

.header_links-list-item {
    text-indent: -9px;
    padding-left: 6px;
    margin-left: 0px;
    text-decoration: underline;
    text-underline-offset: 4px; 
}

.header_link {
    padding: ;
}

.header_logo {
    width: 148px;
    height: 293px;
    box-sizing: border-box;
}

.header_logo_border {
    margin: 92px 0 0 10.5px;
    width: 130px;
    height: 120px;
    border-top: 4px solid;
}

.header_logo_image {
    margin: -19.2px 0 0 -3.9px;
    padding: 0;
    width: 136px;
    height: 137px;
}

.header_contacts {
    height: 293px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    box-sizing: border-box;
}

.header_contacts_list {
    margin: 95px 0 0 186px;
}

.contact_numbers {
    list-style-type: none;
    height: 24px;
    width: 133px;
    border-bottom: 1px solid;
}

.contact_number {
    text-decoration: none;
    padding: 8px 0 0 0.5px;
}

.contact_mail {
    list-style-type: none;
    height: 24px;
    width: 130px;
    border-bottom: 1px solid;
}

.contact_mail_text {
    text-decoration: none;
}

.contact_adress {
    list-style-type: none;
    width: 230px;
    height: 50px;
}

.contact_adress_text {
    padding: 1px 0 0 1px;
    white-space: nowrap;
}
/*----------------------------------------- Конец Header -----------------------------------------*/
/*----------------------------------------- Начало Cover -----------------------------------------*/
.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover_background_dark {
    position: absolute;
    width: 1100px;
    height: 757px;
    z-index: 1;
    background-color: #000;
    opacity: 0.6;
}

.cover_content {
    position: absolute;
    z-index: 2;
    width: 1100px;
    height: 757px;
}

.cover_main {
    width: 1100px;
    height: 600px;
}

.cover_title {
    position: absolute;
    z-index: 2;
    width: 1100px;
    height: 600px;
}
.cover_span {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-transform: uppercase;
    color: #fff;
}

.text_left {
    margin: 165.7px 0 0 49.9px;
}

.text_center {
    margin: 20.8px 0 0 380.6px;
}

.text_right {
    margin: 21px 50px 0 663.8px;
}

.cover_footer {
    display: grid;
    grid-template-columns: 700px 400px;
    position: absolute;
    z-index: 2;
    top: 600px;
    width: 1100px;
    height: 157px;
}

.cover_descripion {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #fff;
}

.cover_descripion_text {
    width: 700px;
    margin: 68.3px 0 0 50px;
    word-spacing: 18.5px;
    color: #fff;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.button {
    grid-column: 2;
    grid-row: 1;
    width: 256.5px;
    height: 51px;
    border: 1px solid #fff;
    margin: 56px 0 0 94px;
}

.button_text {
    display: block;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 13.5px 0 0 -1px;
}
/*----------------------------------------- Конец Cover -----------------------------------------*/
/*----------------------------------------- Начало Cards -----------------------------------------*/
.cards {
    width: 1052px;
    height: 723px;
    margin: 180px 24px 120px;
}

.cards_title {
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 4px 0 30px 40px;
}

.cards_main_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style-type: none;
}

.cards_list {
    position: relative;
    height: 300px;
    height: 596px;
    width: 334px;
}

.overlay_dark {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}

.cards_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.card_title {
    position: absolute;
    z-index: 2;
    padding: 48px 40px 0;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 119%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 3px;
    text-decoration-thickness: 0%;
    color: #fff;
}

.card_main {
    position: absolute;
    z-index: 2;
    padding: 0 40px 48px ;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #fff;
    align-self: end;
}

.left_card {
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: 550px 600px;
    background-position: -109px -2px;
}

.center_card {
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: 550px 600px;
    background-position: -109px -2px;
}

.right_card {

    background-image: url(/images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: 550px 600px;
    background-position: -113px -2px;
}

.cards_footer {
    width: 1052px;
    height: 53px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.cards_footer_text {
    display: block;
    margin: 32px 0 0 40px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/*----------------------------------------- Конец Cards -----------------------------------------*/
/*----------------------------------------- Начало About -----------------------------------------*/
.about {
    width: 1052px;
    height: 595px;
    margin: 0 24px;
}

.about_content {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 1052px;
    height: 595px;
}

.about_logo {
    width: 240px;
    height: 240px;
    margin: 35px 0 0 47px;
    background-color: #000;
    border-radius: 50%;
}

.about_logo_image {
    width: 190px;
    height: 114px;
    margin: 64px 0 0 25.5px;
}

.about_main {
    display: grid;
    grid-template-rows: 150px 299px;
    width: 693px;
    height: 449px;
    margin: 133px 0 13px 70px;
}

.about_main_title {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 7px 0 0 2px;
}

.about_main_content {
    display: grid;
    width: 688px;
    list-style-type: none;
    gap: 24px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 2px;
}
/*----------------------------------------- Конец About -----------------------------------------*/
/*----------------------------------------- Начало Footer -----------------------------------------*/
footer {
    width: 1100px;
    height: 180px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-auto-flow: column;
}

.address {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;

}

.footer_links_list {
    width: 250px;
    margin: 1px 0 0 50px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    white-space: wrap;
}

.footer_menu {
    margin: 0px 0 0 50px;
    height: 150px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
}

.footer_links-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_link {
    text-decoration: underline;
    text-decoration-style: 1px solid;
    text-underline-offset: 4px;
}

.footer_media_links {
    margin: 1px 0 0 110px;
    display: grid;
    grid-template-columns: repeat(3, 48px);
    grid-auto-flow: column;
    gap: 48px;
    list-style-type: none;
}
/*----------------------------------------- Конец Footer -----------------------------------------*/